$header: #000;

$text: #324665;

$btn: #bc2525;

$btn-text: #f1f5fa;

$background: #f9f6f1;

$background-2: #ffffff;

$border-line: #e7dcc8;
$footer-color1: #ffffff;
$footer-color2: #a2a2a2;


$font: "TildaSansBold";
$font2: "TildaSansExtraBold";
$font3: "TildaSansRegular";
